
<div class="panel panel-default">
<div class="panel-heading">
  
    <h3>Empleado Agregado </h3>
</div>
  <br><br>
  
<p>
  <strong>Nombre:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @employee.last_name %>
</p>
<p>
  <strong>Direccion:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>CUIT:</strong>
  <%= @employee.cuit%>
</p>

</div>