<p>
<p>
  <strong>Empleado agregado</strong>
</p>


<p>
  <strong>Nombre:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @employee.last_name %>
</p>
<p>
  <strong>Direccion:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>CUIT:</strong>
  <%= @employee.cuit%>
</p>